---
layout: default
title: Événements
description: 'Vous trouverez ci-dessous la liste de tous les événements auquels nous participont.'
---

<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-10 col-d-12">
        <div class="hero__inner">
          {% if page.title %}
            <h1 class="hero__title">{{ page.title }}</h1>
          {% endif %}
          {% if page.description %}
            <p class="hero__description">{{ page.description }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->

<div class="container">
  <div class="row animate">
    {% if site.events.size > 0 %}
  {% assign sorted_events = site.events | sort: 'eventdate.start' | reverse %}
  {% for events in sorted_events %}
    {% include event.html %}
  {% endfor %}
{% endif %}
  </div>
</div>

{% include pagination.html %}