<!-- begin blog -->
<section class="blog section">

  <div class="container">
    <div class="row animate">
      <div class="col col-12">
        <div class="section__info">
          <div class="section__head">
            <h2 class="section__title">Évènements</h2>
            <a class="section__link" href="{{ '/evenements' | relative_url }}">Voir tous les évènements</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      {% assign sorted_events = site.events | sort : 'date' | where_exp : 'item',
      'item.date > now' | limit : 4 %}
      {% if sorted_events.size > 0 %}
        {% for event in sorted_events %}
          {% include event.html %}
        {% endfor %}
      {% endif %}
    </div>
  </div>

</section>
<!-- end blog -->