<!-- begin blog -->
<section class="blog section">

  <div class="container">
    <div class="row animate">
      <div class="col col-12">
        <div class="section__info">
          <div class="section__head">
            <h2 class="section__title">Évènements</h2>
            <a class="section__link" href="{{ '/evenements' | relative_url }}">Voir tous les évènements</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
     {% if site.events.size > 0 %}
        {% assign sorted_events = site.events | sort: 'eventdate.start' | reverse %}
        {% for events in sorted_events offset:0 limit:4 %}
          {% include event.html %}
        {% endfor %}
      {% endif %}
    </div>
  </div>

</section>
<!-- end blog -->