<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-10 col-d-12">
        <div class="hero__inner">
          <h1 class="hero__title">{{ site.data.settings.hero.hero__title }}</h1>

          <p class="hero__description chapeau">
            La gourmandise, ce petit péché mignon consistant à abuser des bonnes choses, pourrait devenir une habitude dans votre foyer, grâce à la gamme de produits signés <b>Maison Silvestre</b>.
          </p>

          <p class="hero__description">
            Notre savoir-faire provient de recettes traditionnelles ou expérimentales, de notre créativité, ainsi que de l’utilisation de produits frais et de qualités. Grâce à la combinaison de ces éléments, nous pouvons élaborer des produits artisanaux, qui permettront à vos papilles de se délecter.
          </p>
          <p class="hero__description">
            La volonté de revenir aux sources, avec des recettes simples et avec le vrai goût de l'authenticité, c’est avant tout une histoire d'engagement qui nous est propre. Celui de vous faire redécouvrir vos sens, à travers des mets savoureux, issus de notre famille.
          </p>
          <p class="hero__description">
            Nous nous sommes donné comme engagement, celui de promouvoir le commerce local. C'est pour cette raison, que vous nous trouverez uniquement dans des épiceries fines, les marchés locaux et certaines boutiques atypiques.
          </p>
          <!-- <p class="hero__description">{{ site.data.settings.hero.hero__description }}</p> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->