---
layout: default
---

<script>
// Initialize variables

// Initialize and add the map
function initMap() {
  // The location of position

  let latitude = {{ page.map.lat }};
  let longitude = {{ page.map.long }};

  const pos = { lat: latitude, lng: longitude };
  // The map, centered at position
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 14,
    center: pos,
  });
  // The marker, positioned at position
  const marker = new google.maps.Marker({
    position: pos,
    map: map,
  });
}
</script>

<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="post__info">

        {% if page.tags.size >= 1 %}
          <div class="post__tags">
            {% for tag in page.tags %}
              <a href="{{ site.baseurl }}/tags#{{ tag }}" class="post__tag">{{ tag }}</a>
            {% endfor %}
          </div>
        {% endif %}

        <h1 class="post__title">{{ page.title | escape }}</h1>

        <div class="post__meta">
          <a class="post__author" href="{{site.baseurl}}/about/">{{site.data.settings.author}}</a> – <time class="post__date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- begin post -->
<div class="container animate">

  {%if page.image %}
  <div class="row">
    <div class="col col-12">
      <div class="post-image">
        <img class="lazy" data-src="{{site.baseurl}}{{page.image}}" alt="{{page.title}}">
      </div>
    </div>
  </div>
  {%endif %}

  <article class="post">
    <div class="row">
    <div class="col col-6 col-t-12 post__contact">
      <h2>Contact</h2>
      <ul>
        <li>
          {{ page.contactname }}
        </li>
        <li>
           {{ page.address }}
        </li>
        <li>
          <form>
            <button class="button button--primary" type="submit" formaction="https://www.google.ch/maps/dir//>{{ page.title | replace: " ", "+" }}">Itinéraire</button>
          </form>
        </li>
        <li>
          <a href="tel:{{ page.phone }}">{{ page.phone }}</a>
        </li>
        {%if page.mail %}
        <li>  
          <a href="mail:{{ page.mail }}">{{ page.mail }}</a>
        </li>
        {%endif %}
      </ul>
      <h2>Horaires</h2>
      <ul>
        <li>
          Lun. {{ page.timetable.monday }}
        </li>
        <li>
          Mar. {{ page.timetable.tuesday }}
        </li>
        <li>
          Mer. {{ page.timetable.wednesday }}
        </li>
        <li>
          Jeu. {{ page.timetable.thursday }}
        </li>
        <li>
          Ven. {{ page.timetable.friday }}
        </li>
        <li>
          Sam. {{ page.timetable.saturday }}
        </li>
        <li>
          Dim. {{ page.timetable.sunday }}
        </li>
      </ul>
    </div>
    <div class="col col-6 col-t-12">
        <!--The div element for the map -->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQqGskh4ilLlX-HeAiui5TbHd6EMr4GzI&callback=initMap&v=weekly"
      async
    ></script>
      
    </div>
  </div>
    <div class="post__content">
      {{ content }}
    </div>

    <div class="post__share">
      <ul class="share__list list-reset">
        <li class="share__item">
          <a class="share__link share__twitter"
            href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Twitter" rel="nofollow"><i class="ion ion-logo-twitter"></i></a>
        </li>
        <li class="share__item">
          <a class="share__link share__facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Facebook" rel="nofollow"><i class="ion ion-logo-facebook"></i></a>
        </li>
        <li class="share__item">
          <a class="share__link share__pinterest" href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&amp;media={{ site.url }}{{ site.baseurl }}{{ page.image }}&amp;description={{ page.title | uri_escape }}"
          onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" title="Share on Pinterest"
          rel="nofollow"><i class="ion ion-logo-pinterest"></i></a>
        </li>
        <li class="share__item">
          <a class="share__link share__linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title | uri_escape }}&summary={{ page.description | uri_escape }}&source={{ site.title | uri_escape }}"
          onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Share on LinkedIn" rel="nofollow"><i class="ion ion-logo-linkedin"></i></a>
        </li>
      </ul>
    </div>

    {% if site.data.settings.disqus-identifier %} {% include disqus-comments.html %} {% endif %}

  </article>
</div>
<!-- end post -->

{% include section-related-posts.html %}

